<% provide :title, t(".title") %>
<h1><%= t".h1" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: login_path do |f| %>
    <%= f.label :email, t(".content1") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, t(".content2") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t".content6" %></span>
      <% end %>

      <%= f.submit t".content3", class: "btn btn-primary" %>
    <% end %>
    <p><%= t".content5" %><%= link_to t(".content4"), signup_path %></p>
  </div>
</div>
