<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="i18n">
      <%= link_to "English", locale: "en" %>
      <%= link_to "Vietnam", locale: "vi" %>
    </div>
    <%= link_to t(".content1"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".content2"), root_path %></li>
        <li><%= link_to t(".content3"), help_path %></li>
        <% if logged_in? %>
          <li><%= link_to t(".content5"), "#" %></li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
              <%= t".content9" %><b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t(".content6"), current_user %></li>
              <li><%= link_to t(".content7"), "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".content8"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".content4"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
